<link rel="stylesheet" href="input.css">
<html>

<body>
    <form class="input-container">
        <div class="person-input">
            <img class="person-img" src="../../assets/images/person.svg">
            <input type="text" placeholder="Momoh Gbenuade">
        </div>


        <div class="mail-input">
            <img class="mail-img" src="../../assets/images/mail.svg">
            <input type="email" placeholder="hello@example.com">
        </div>
        <div class="lock-input">
            <img class="lock-img" src="../../assets/images/lock.svg">
            <input type="password" placeholder="......">
        </div>

    </form>
</body>

</html>