 body {


     font-family: "Inter", sans-serif;
 }

 body {
     background: #f8f9fc;

 }


 .layout {
     display: flex;
     height: 100vh;
 }


 .content {
     flex: 1;
     padding: 30px;
     background-color: #F9FAFB;
 }

 .top-tabcontain {}

 .secondtab {
     background-color: #FFFFFF;
     padding-top: 1px;
 }

 .outercard {
     border-radius: 10px;
     border: 1px solid #E2E8F0;
 }

 .innercard {
     background-color: #FFFFFF;
 }

 .header {
     line-height: 0px;
     padding-left: 30px;
     display: flex;
     align-items: center;
     gap: 10px;
     height: 100px;
     border-bottom: 1px solid #E2E8F0;
 }


 .header h2 {
     font-size: 24px;
     margin-bottom: 5px;

 }

 .header p {
     color: gray;
     line-height: 0px;
 }

 .top-tabs {
     margin-top: 40px;
     margin-bottom: 20px;
     padding-left: 30px;
 }

 .top-tabs2 {
     background-color: #F3F4F6;
     border-radius: 10px;
     padding: 5px;
     width: 250px;
     align-items: center;

     display: flex;
 }

 .markimg {
     position: absolute;
     top: 8px;
     left: 10px;
 }

 .chartimg {
     position: absolute;
     top: 8px;
     left: 20px;
 }


 .tabtive {
     position: relative;
 }

 .summaryimg {
     position: relative;
 }

 .tab {
     background: #F3F4F6;
     border: 1px solid #e5e7eb;
     padding: 8px 16px;
     border-radius: 6px;
     cursor: pointer;
     border: none;
     padding-left: 50px;
 }

 .tab-active {

     border: 1px solid #e5e7eb;
     padding: 8px 16px;
     border-radius: 6px;
     cursor: pointer;
     border: none;
     background: #FFFFFF;
     color: black;
     padding-left: 35px;
 }

 .stats {
     display: flex;
     gap: 40px;
     margin-bottom: 20px;
     padding-left: 30px;


 }

 .divider {
     border-right: 1px solid#E5E7EB;
     margin-top: 23px;
     margin-bottom: 23px;

 }



 .stat h3 {
     font-size: 24px;
     color: black;
     text-align: center;
     line-height: 0px;
 }

 .stat2 h3 {
     font-size: 24px;
     color: #00A63E;
     text-align: center;
     line-height: 0px;
 }


 .task-area {
     position: relative;
     bottom: 20px;
     border-top-left-radius: 30px;

 }

 .stats2 {}

 .add-task {
     position: absolute;
     right: 25px;
     top: -70px;
     background: #2563eb;
     color: white;
     border: none;
     padding: 10px 18px;
     border-radius: 6px;
     cursor: pointer;
 }

 .empty-box {
     margin-top: 40px;
     height: 170px;
     border: 2px dashed #cbd5e1;
     border-radius: 10px;
     background: #F2F6FE;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 25px;
     margin-right: 25px;
     text-align: center;
 }

 .empty-box p {
     color: #64748B;
 }

 .modal-checkbox {
     display: none;
 }

 .modal-container {
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.4);
     display: none;
     justify-content: center;
     align-items: center;
     
 }

 .modal-checkbox:checked~.modal-container {
     display: flex;
 }

 .modal {
     background:#f8f9fa ;
     width: 430px;
     padding-left: 24px;
     padding-right: 45px;
     padding-bottom: 10px;
     border-radius: 12px;
     box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
     animation: fadeIn .25s ease-in-out;
 }

 .modal-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .close-btn {
     font-size: 22px;
     cursor: pointer;
     background: none;
     border: none;
 }

 .subtext {
     font-size: 14px;
     color: #555;
     margin-bottom: 14px;
 }

 label {
     font-size: 14px;
     margin-top: 10px;
     display: block;
    
 }

 input,
 textarea,
 select {
     width: 100%;
     padding: 10px;
     margin-top: 6px;
     border-radius: 6px;
     border: 1px solid #d0d0d0;
 }

 textarea {
     height: 80px;
     resize: none;
 }

 .inputs-row {
     display: flex;
     gap: 12px;
 }

 .input-group {
     flex: 1;
     
 }

 .action-buttons {
     display: flex;
     justify-content: flex-end;
     gap: 8px;
     margin-top: 20px;
 }

 .cancel {
     background: #eee;
     padding: 10px 16px;
     border-radius: 6px;
     cursor: pointer;
 }

 .create {
     background: #3b82f6;
     color: #fff;
     padding: 10px 16px;
     border-radius: 6px;
     cursor: pointer;
 }

 .open-modal-btn {
     padding: 10px 16px;
     background: #3b82f6;
     color: #fff;
     border-radius: 6px;
     cursor: pointer;
     display: inline-block;
 }

.task-input{
    border: none;
    background-color:#FFFFFF ;
}


.textarea{
    border: none;
    background-color: #FFFFFF;
}


.input-group select{
    background-color: #FFFFFF;
}

.input-group option :hover{
    background: #00A63E;
}