<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="sidebar.css">
    <link rel="stylesheet" href="../../component/logoimg/logoimg.css">

</head>

<body>

    <div class="dashboard">


        <aside class="sidebar">
            <div class="logo">
                <div class="checkcolor switch ">
                    <img src="../../assets/images/checkbox.svg" width="25px" height="25px">
                </div>
                <h4 class="switch">TaskMaster</h4>
                <img id="leftlogo" src="../../assets/images/left.svg" width="5px" height="5px">
            </div>

            <div class="user-profile">
                <div class="avatar">M</div>
                <div class="user-info switch">
                    <h5>Momoh gbenuade</h5>
                    <p>momohgbenuade@gmail.com</p>
                </div>
            </div>
            <div class="menu1">
                <nav class="menu">
                    <div class="menu__navlist">
                        <img src="../../assets/images/dash.svg" width="20px" height="20px"> <p
                            class="active switch" >Dashboard</p>
                    </div>
                    <div class="menu__navlist">
                        <img src="../../assets/images/check.svg" width="20px" height="20px"> <p class="switch">Tasks</p>
                    </div>
                    <div class="menu__navlist">
                        <img src="../../assets/images/person copy.svg" width="20px" height="20px">
                        <p class="switch">Community</p>
                    </div>
                    <div class="menu__navlist">
                        <img src="../../assets/images/dollar copy.svg" width="20px" height="20px"> <p
                          class="switch"  >Expenses</p>
                    </div>
                    <div class="menu__navlist">
                        <img src="../../assets/images/note copy.svg" width="20px" height="20px"> <p class="switch" >Notes</p>
                    </div>
                    <div class="menu__navlist">
                        <img src="../../assets/images/setting.svg" width="20px" height="20px"> <p class="switch" >Settings</p>
                    </div>
                </nav>
            </div>
            <div class="footer">
                <div id="logout" class="asidefooter">
                    <img src="../../assets/images/logout.svg" width="15px" height="15px">
                    <button class="logout-btn switch"> Logout</button>
                </div>
            </div>
        </aside>
    </div>
    <script src="../../component/sidebar/sidebar.js"></script>
</body>

</html>